<div class="card">
  <div class="font-semibold text-xl">{{ 'location.title' | ct:'Ubicación' }}</div>
  <div class="flex justify-between my-2">
    <div class="table-filters">
      <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <input type="text" pInputText placeholder="Search by Name" />
      </p-iconfield>
    </div>
    <div class="flex justify-end">
    </div>
    <p-button (onClick)="openCreateModal()" >
      <div class="flex">
        <i class="fas fa-plus"></i>
        <span class="ml-2">{{ 'location.create' | ct:'Crear Ubicación' }}</span>
      </div>
    </p-button>
  </div>
  <p-table
    [value]="locations()"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template pTemplate="header">
          <tr>
              <th class="capitalize">{{ 'location.code' | ct:'Código' }}</th>
              <th class="capitalize">{{ 'location.description' | ct:'Descripción' }}</th>
              <th class="capitalize">{{ 'location.actions' | ct:'Acciones' }}</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-location>
          <tr>
              <td>{{ location.codeLocation }}</td>
              <td>{{ location.description }}</td>
              <td>
                <div class="flex gap-2">
                  <div>
                  <p-button severity="secondary" rounded="true" icon="fas fa-pencil" (onClick)="openEditModal(location)"></p-button>
                  </div>
                </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
<app-modal-location-form
  #locationForm
  (saved)="onLocationSaved()"
></app-modal-location-form>
