.status-badge {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 600;

    &.status-active {
        background-color: #C8E6C9;
        color: #256029;
    }

    &.status-inactive {
        background-color: #FFCDD2;
        color: #C63737;
    }
}
