<div class="card">
  <div class="font-semibold text-xl">{{ 'company.title' | ct:'Compañia' }}</div>
  <div class="flex justify-between my-2">
    <div class="table-filters">
      <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <input type="text" pInputText placeholder="Search by Name" />
      </p-iconfield>
    </div>
    <div class="flex justify-end">
    </div>
    <p-button (onClick)="openCreateModal()" >
      <div class="flex">
        <i class="fas fa-plus"></i>
        <span class="ml-2">{{ 'company.create' | ct:'Crear Compañia' }}</span>
      </div>
    </p-button>
  </div>
  <p-table
    [value]="companies()"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template pTemplate="header">
          <tr>
              <th >{{ 'company.name' | ct:'Nombre' }}</th>
              <th class="capitalize">{{ 'company.ruc' | ct:'RUC' }}</th>
              <th class="capitalize">{{ 'company.country' | ct:'Pais' }}</th>
              <th class="capitalize">{{ 'company.state' | ct:'Departamento' }}</th>
              <th class="capitalize">{{ 'company.actions' | ct:'Acciones' }}</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-company>
          <tr>
              <td>{{ company.name }}</td>
              <td>{{ company.ruc }}</td>
              <td>{{ company.idCountry }}</td>
              <td>{{ company.idState }}</td>
              <td>
                <div class="flex gap-2">
                  <div>
                  <p-button severity="secondary" rounded="true" icon="fas fa-pencil" (onClick)="openEditModal(company)"></p-button>
                  </div>
                  <div>
                  <p-button severity="secondary" rounded="true" icon="fas fa-trash"></p-button>
                  </div>
                </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>

<app-modal-company-form
  #companyForm
  (saved)="onCompanySaved()"
></app-modal-company-form>
